/* Write your CSS code here */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.profile {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.role {
  font-size: 16x;
  font-family: Roboto;
  color: #616e7c;
  font-weight: 500;
}

.name {
  font-size: 25x;
  font-family: Roboto;
  color: #12022f;
  font-weight: 500;
}
